@model IEnumerable<AP002.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">MAESTRO DE ARTÍCULOS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockProducto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
