@model IEnumerable<AP003.Models.ProductoModel>

@{
    ViewData["Title"] = "Paginacion";
}

<h1 class="text-center">Paginacion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stcokProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stcokProducto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <!--En la primera iteracion i es igual a 0, entonces p es igual a 0-->
    @for (int i = 0; i < (int)ViewBag.paginas; i++)
    {
        /*el controlador se llama*/
        /*aqui p se establece en el indice de la pagina, por lo visual*/
        @Html.ActionLink((i+1).ToString(),"Paginacion","Negocios", new{p=i}, new {@class="btn btn-success"})
    }
</div>

